@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: var(--font-family--3) !important;
}
@media print {
 * {
  visibility: hidden;
}
}
body::-webkit-scrollbar {
display: none !important;
}
a{
    text-decoration: none;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --font-family--1: 'EB Garamond', serif;
    --font-family--2: 'Playfair Display', serif;
    --font-family--3: 'Crimson Text', serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    /* background-image: url(./img/bg3.jpg); */
    /* background-size: 100%; */

}
.java-hero-pic{
    width: 95vw;
    height: auto;
    background-image: url(./img/java.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    position: relative;
    top: 80px;
    border-radius: 15px;
    aspect-ratio: 16/9;
}
.couser-drop-info{
    position: relative;
    top: 215px;
    width: 90%;
    height: inherit;
    margin: 0px auto;
    padding-bottom: 50px;
}
.syllabus-head{
    text-align: center;
}
.syllabus-head h1{
 font-size: 20px;
}
#drop1{
margin-top: 40px;

}
.drop,.topics {
    background-color: rgba(255, 255, 255, 0.286);
    border: 1px solid rgba(0, 0, 0, 0.219);
    padding: 10px 30px;
    margin-bottom:5px;
}
.drop h1{
 font-size: 18px;
}
.topics{
    display: none;
    background-color: rgba(216, 216, 216, 0.278);
}
.couser-drop-info li p {
    font-size: 14px;
    color: black !important;

}
.java-footer{
    font: 1em var(--font-family--3);
    position: relative;
    top: 130px;
    width: 90%;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: space-between;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    padding: 10px 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.why-java h2{
    text-align: center;
    margin-bottom: 15px;
}
.why-java{
    position: relative;
    top: 190px;
    text-align: left;
    padding: 0px 40px;
}
.thought {
    display:flex;
    background-color:#0f2036;
    padding:20px;
    border-radius:30px;
     width:100%;
    min-height:40px;
    margin: 0 auto;
    position:relative;
    align-items:self-start;
    flex-direction: column;
    justify-content:center;
    text-align:center;
    color: white;
  }
  .thought:before,
  .thought:after {
    content:"";
    background-color:#0f2036;
    border-radius:50%;
    display:block;
    position:absolute;
    z-index:-1;
  }
  .thought:before {
    width:44px;
    height:44px;
    top:-12px;
    left:28px;
    box-shadow:-50px 30px 0 -12px #0f2036;
  }
  .thought:after {
    bottom:-10px;
    right:26px;
    width:30px;
    height:30px;
    box-shadow:40px -34px 0 0 #0f2036,
               -28px -6px 0 -2px #0f2036,
               -24px 17px 0 -6px #0f2036,
               -5px 25px 0 -10px #0f2036;
    
  }
  .faq-section {
    width: 100%;
    position: relative;
    top: 190px;
    margin: 0 auto;
    padding: 15px;
    height: auto;
  }
  .faq-section h2{
    font-family: var(--font-family--3);
    text-align: center;
    margin-bottom: 20px;
  }
  .faq-item {
    border-bottom: 1px solid #cccccc5e;
    margin-bottom: 10px;
    padding: 10px;
  }
  .question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    /* font-size: 16px; */
  }
  .answer {
    margin-top: 5px;
    color: #666;
    display: none;
    font-size: 13px;
  }
  .answer a{
    color: var(--blue) !important;
  }