@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: var(--font-family--3) !important;
}
@media print {
 * {
  visibility: hidden;
}
}
body::-webkit-scrollbar {
display: none !important;
}
a{
    text-decoration: none;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --font-family--1: 'EB Garamond', serif;
    --font-family--2: 'Playfair Display', serif;
    --font-family--3: 'Crimson Text', serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
.java-hero-pic{
    width: 95vw;
    height: auto;
    background-image: url(./img/java.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    position: relative;
    top: 80px;
    border-radius: 15px;
    aspect-ratio: 16/9;
}
.couser-drop-info{
    position: relative;
    top: 100px;
    width: 90%;
    height: inherit;
    margin: 0px auto;
    padding-bottom: 50px;
}
.syllabus-head{
    text-align: center;
}
.syllabus-head h1{
 font-weight: 600;

}
.drop,.topics {
    background-color: rgba(255, 255, 255, 0.675);
    border: 1px solid rgba(0, 0, 0, 0.219);
    padding: 10px 30px;
    margin-bottom:5px;
}
.drop h1{
 font-size: 18px;
}
.topics{
    display: none;
    background-color: rgba(216, 216, 216, 0.278);
}
.couser-drop-info li p {
    font-size: 14px;
    color: black !important;

}